body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
      
        font-weight: 100;
        background-image: url(https://media.istockphoto.com/id/2161648041/vector/cartoon-snake-climbing-a-ladder-like-the-retro-board-game-snakes-ladders-hand-drawn.jpg?s=612x612&w=0&k=20&c=759AfZc9UCzA3LEmpEpJvxejNIhgTBIlvAQJdX9V0Ks=);
        background-repeat: no-repeat;

        }

    .board {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10, 50px);
        border: 5px solid black;
    }

    .cell {
        border: 1px solid #999;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
    }

    /* Color pattern */
    .cell:nth-child(odd) { background: #ffedcc; }
    .cell:nth-child(even) { background: #ffe0a3; }

    /* Snakes */
    .snake {
       background-color: red;
        color: white;
    }

    /* Ladders */
    .ladder {
      background-color: red;
        color: white;
    }

    /* Player token */
    .player {
        width: 15px;
        height: 15px;
        background: blue;
        border-radius: 50%;
        margin-top: 5px;
    }
